@import "fonts"

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline
  box-sizing: border-box

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block
html
  font-size: 10px
body
  line-height: 1
  background-color: #fff
  font-family: Arial
  color: #333
ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote
  &:before, &:after
    content: ''
    content: none

q
  &:before, &:after
    content: ''
    content: none

table
  border-collapse: collapse
  border-spacing: 0   
a, a:hover, a:active
  text-decoration: none
  color: #000 
.flex
  display: flex
.flex--row
  flex-direction: row
.flex--column
  flex-direction: column
.container
  margin: 0 7.3vw
.uppercase
  text-transform: uppercase
/**/
.nav
  height: 4.48vw
  box-shadow: 0 .156vw .31vw rgba(0,0,0,.16)
  justify-content: space-between
.logo-wrap, .menu-wrap, .lang-wrap, .user-wrap
  align-items: center
.logo-wrap
  padding: 0 1.9vw
  border-right: 1px solid #E0E0E0
.logo
  width: 14.7vw
.menu a
  font-size: 1vw
  line-height: 1.4vw
.menu
  width: 49vw
  justify-content: space-between
.lang-wrap
  padding: 0 1.9vw
  border-left: 1px solid #E0E0E0
.user-wrap
  padding: 0 1.4vw
  border-left: 1px solid #E0E0E0
  img
    width: 2.2vw
.lang, option
  font-size: 1vw
  line-height: 1.4vw
  border: none
  padding-left: 1.9vw
  background-image: url(../images/ru.png)
  background-size: 1.3vw .88vw
  background-repeat: no-repeat
  background-position: 0 0
.pg__info
  padding: 14.8vw 0 4.3vw
  background-image: url(../images/bg.png)
  background-size: 100% 100%
  color: #fff
  a, a:hover, a:active
    color: #fff
  .money-btn
    margin-bottom: 9.33vw
.pg__title
  font-size: 2.6vw
  line-height: 3.1vw
  width: 54.9vw
  font-weight: bold
  margin-bottom: 3.9vw
.pg__text
  font-size: .83vw
  line-height: 1.1vw
  margin-bottom: 1.5vw
.line
  width: 35.1vw
  background-color: #fff
  border-radius: 1.19vw
  margin-bottom: 1.5vw
.line__in
  width: 64.8%
  text-align: left
  font-size: 1.3vw
  line-height: 1.5vw
  padding: .36vw 1.9vw .39vw
  box-sizing: border-box
  background-color: #2A41E8
  border-radius: 1.19vw
.money-btn
  display: block
  width: fit-content
  padding: .73vw 1.2vw
  background-color: #2A41E8
  border-radius: .41vw
  font-size: .73vw
  line-height: .73vw
  color: #fff
  &:hover, &:active
    color: #fff
.news-btn
  align-items: center
  font-size: .83vw
  line-height: 1vw
  img
    width: 4.58vw
.work
  padding: 7vw 0 5.9vw
  text-align: center
.work__title
  font-size: 2vw
  line-height: 3vw
  margin-bottom: 2.2vw
.work__text
  font-size: 1vw
  line-height: 1.3vw
  color: #808080
  margin-bottom: 7vw
.work__units
  justify-content: space-between
  align-items: flex-start
.unit
  width: 20.7vw
.unit__title
  font-size: 1vw
  line-height: 1vw
  padding-bottom: .83vw
  border-bottom: .15vw solid #2A41E8
  position: relative
  margin-bottom: .59vw
.unit__number
  position: absolute
  bottom: 0
  left: 100%
  width: 2.38vw
.unit__text
  color: #808080
  font-size: .83vw
  line-height: 1vw
.cards
  padding: 2.8vw 0 4.5vw
  text-align: left
  background-color: #F9F9F9
  margin-bottom: 5.1vw
  .money-btn
    margin: 0 auto
.cards__title
  font-size: 2.3vw
  line-height: 2.6vw
  margin-bottom: 1.6vw
.cards__text
  width: 57.5vw
  font-size: 1vw
  line-height: 1.5vw
  margin-bottom: 2.3vw
  color: #808080
.cards__wrap
  justify-content: space-between
  align-items: flex-start
  flex-wrap: wrap
  margin-bottom: 1.7vw
.card
  width: 27.5vw
  box-shadow: 0 .156vw .31vw rgba(0,0,0,.16)
  margin-bottom: 1.5vw
  background-color: #F9F9F9
.card__info
  padding: 2.1vw 2.1vw 1.56vw
  background-color: #fff
  img
    width: 14.6vw
    height: 4.6vw
.cat-date__wrap
  padding: 1.3vw 4.8vw 1.7vw
.card__category
  margin-bottom: .88vw
.card__category, .card__date
  position: relative
  font-size: 1vw
  line-height: 1vw
  img
    position: absolute
    right: 102%
    top: 50%
    transform: translate(0,-50%)
    width: .93vw
    height: .93vw
footer
  background-color: #303030
  color: #fff
  a
    color: #fff
    font-size: .93vw
    line-height: 1.56vw
    &:hover, &:active
      color: #fff
.top
  height: 5.2vw
  border-bottom: 1px solid #707070
  justify-content: space-between
.top__logo, .top__social
  align-items: center
.top__logo
  padding-left: 7.3vw
  img
    width: 14.7vw
.top__social
  width: 25vw
  padding-left: 1.7vw
  border-left: 1px solid #707070
.social
  margin-right: 1.25vw
  img
    height: 1.2vw
.medium
  padding: 1.3vw 7.3vw 1.9vw
  justify-content: space-between
  align-items: flex-start
  border-bottom: 1px solid #707070
.footer__menu
  ul
    margin-right: 3vw
    &:last-child
      li:nth-child(2), li:nth-child(3)
        & a
          color: #808080
.form__title
  font-size: .93vw
  line-height: 1.56vw
  align-items: center
  margin-bottom: .52vw
  img
    margin-right: .53vw
    width: 1vw
.form__text
  width: 18.9vw
  font-size: .83vw
  line-height: 1vw
  color: #808080
  margin-bottom: .3vw
.input--text
  width: 27.2vw
  font-size: .73vw
  line-height: .83vw
  padding: .52vw 1vw
  background-color: #262626
  border-radius: .41vw
  border: none
  margin-right: .625vw
  color: #fff
.input--sbm
  border-radius: .41vw
  background-color: #2A41E8
  position: relative
  height: 1.87vw
  padding: 0 1vw
  cursor: pointer
  img
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    width: .57vw
.bott
  padding: 2.1vw 0 1.6vw
  text-align: center
  font-size: .93vw
  line-height: 1.56vw
@import "media"